# [ExpenseManager]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [ExpenseManager]    Script Date: 09-04-2024 16:38:07 ******/
CREATE DATABASE [ExpenseManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExpenseManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ExpenseManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExpenseManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ExpenseManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [ExpenseManager] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExpenseManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [ExpenseManager] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [ExpenseManager] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [ExpenseManager] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [ExpenseManager] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [ExpenseManager] SET ARITHABORT OFF 
GO
ALTER DATABASE [ExpenseManager] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [ExpenseManager] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [ExpenseManager] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [ExpenseManager] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [ExpenseManager] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [ExpenseManager] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [ExpenseManager] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [ExpenseManager] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [ExpenseManager] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [ExpenseManager] SET  ENABLE_BROKER 
GO
ALTER DATABASE [ExpenseManager] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [ExpenseManager] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [ExpenseManager] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [ExpenseManager] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [ExpenseManager] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [ExpenseManager] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [ExpenseManager] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [ExpenseManager] SET RECOVERY FULL 
GO
ALTER DATABASE [ExpenseManager] SET  MULTI_USER 
GO
ALTER DATABASE [ExpenseManager] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [ExpenseManager] SET DB_CHAINING OFF 
GO
ALTER DATABASE [ExpenseManager] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [ExpenseManager] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [ExpenseManager] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [ExpenseManager] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'ExpenseManager', N'ON'
GO
ALTER DATABASE [ExpenseManager] SET QUERY_STORE = ON
GO
ALTER DATABASE [ExpenseManager] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO

# [dbo].[Expenses]

In [0]:
USE [ExpenseManager]
GO

In [0]:
/****** Object:  Table [dbo].[Expenses]    Script Date: 09-04-2024 16:38:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[ExpenseId] [bigint] IDENTITY(1,1) NOT NULL,
	[Comment] [varchar](100) NULL,
	[CreditOrDebit] [varchar](10) NULL,
	[Amount] [bigint] NULL,
	[ExpenseTime] [datetime] NULL,
	[balance] [bigint] NULL,
	[UserId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExpenseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Users]

In [0]:
/****** Object:  Table [dbo].[Users]    Script Date: 09-04-2024 16:38:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UsersId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](320) NOT NULL,
	[Mobile] [varchar](10) NOT NULL,
	[Address] [varchar](200) NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[Password] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Expenses]

In [0]:
SET IDENTITY_INSERT [dbo].[Expenses] ON 
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (1, N'salery', N'C', 5000, CAST(N'2024-03-22T16:28:08.900' AS DateTime), 5000, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (2, N'salery', N'D', 200, CAST(N'2024-03-24T16:28:08.900' AS DateTime), 4800, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (3, N'salery', N'C', 200, CAST(N'2024-03-25T16:28:08.900' AS DateTime), 5000, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (4, N'panipuri', N'D', 1000, CAST(N'2024-04-12T16:28:08.900' AS DateTime), 4000, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (5, N'panipuri', N'C', 500, CAST(N'2024-04-22T16:28:08.900' AS DateTime), 4500, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (6, N'panipuri', N'D', 1200, CAST(N'2024-05-10T16:28:08.900' AS DateTime), 3300, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (7, N'nothing', N'C', 900, CAST(N'2024-05-30T16:28:08.900' AS DateTime), 4200, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (8, N'nothing', N'D', 900, CAST(N'2024-06-30T16:28:08.900' AS DateTime), 3300, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (9, N'nothing', N'D', 900, CAST(N'2024-07-10T16:28:08.900' AS DateTime), 2400, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (10, N'nothing', N'C', 200, CAST(N'2024-07-15T16:28:08.900' AS DateTime), 2600, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (11, N'nothing', N'C', 500, CAST(N'2024-07-17T16:28:08.900' AS DateTime), 3100, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (12, N'nothing', N'D', 600, CAST(N'2024-07-19T16:28:08.900' AS DateTime), 2500, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (13, N'nothing', N'D', 700, CAST(N'2024-07-23T16:28:08.900' AS DateTime), 1800, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (14, N'nothing', N'C', 500, CAST(N'2024-07-27T16:28:08.900' AS DateTime), 2300, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (15, N'nothing', N'C', 500, CAST(N'2024-07-30T16:28:08.900' AS DateTime), 2800, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (16, N'nothing', N'C', 150, CAST(N'2024-08-15T16:28:08.900' AS DateTime), 2950, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (17, N'nothing', N'D', 100, CAST(N'2024-09-15T16:28:08.900' AS DateTime), 2850, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (18, N'nothing', N'C', 1000, CAST(N'2024-10-10T16:28:08.900' AS DateTime), 3850, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (19, N'nothing', N'D', 26, CAST(N'2024-10-15T16:28:08.900' AS DateTime), 3824, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (20, N'nothing', N'D', 50, CAST(N'2024-10-25T16:28:08.900' AS DateTime), 3774, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (21, N'nothing', N'C', 100, CAST(N'2024-10-29T16:28:08.900' AS DateTime), 3874, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (22, N'nothing', N'C', 90, CAST(N'2024-11-12T16:28:08.900' AS DateTime), 3964, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (23, N'nothing', N'C', 90, CAST(N'2024-11-22T16:28:08.900' AS DateTime), 4054, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (24, N'nothing', N'D', 500, CAST(N'2024-12-22T16:28:08.900' AS DateTime), 3554, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (25, N'nothing', N'D', 120, CAST(N'2024-12-25T16:28:08.900' AS DateTime), 3434, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (26, N'nothing', N'D', 90, CAST(N'2024-12-28T16:28:08.900' AS DateTime), 3344, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (27, N'nothing', N'C', 90, CAST(N'2024-01-12T16:28:08.900' AS DateTime), 90, 2)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (28, N'thepla', N'C', 500, CAST(N'2024-03-23T11:39:51.297' AS DateTime), 500, 8)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (29, N'thepla', N'D', 200, CAST(N'2024-03-23T11:41:15.453' AS DateTime), 300, 8)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (42, N'shoping', N'D', 20, CAST(N'2024-03-29T15:24:24.127' AS DateTime), 3324, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (43, N'travel', N'D', 20, CAST(N'2024-03-29T15:24:52.200' AS DateTime), 3304, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (44, N'rotli', N'D', 100, CAST(N'2024-03-29T17:24:17.290' AS DateTime), 3204, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (45, N'food', N'D', 200, CAST(N'2024-03-29T18:19:15.640' AS DateTime), 3004, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (46, N'rotlo', N'D', 10, CAST(N'2024-03-30T13:07:17.080' AS DateTime), 2994, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (47, N'khaman', N'D', 221, CAST(N'2024-03-30T13:17:36.657' AS DateTime), 2773, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (48, N'khaman', N'D', 100, CAST(N'2024-04-01T16:04:59.033' AS DateTime), 2673, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (49, N'rotli', N'D', 100, CAST(N'2024-04-01T16:21:27.663' AS DateTime), 2573, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (50, N'rotli', N'D', 100, CAST(N'2024-04-01T18:04:50.380' AS DateTime), 2473, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (51, N'rotli', N'D', 100, CAST(N'2024-04-01T18:06:01.590' AS DateTime), 2373, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (52, N'rotli', N'D', 100, CAST(N'2024-04-01T18:06:53.423' AS DateTime), 2273, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (53, N'shoping', N'D', 15, CAST(N'2024-04-01T18:07:06.623' AS DateTime), 2258, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (54, N'rotli', N'D', 100, CAST(N'2024-04-01T18:08:14.373' AS DateTime), 2158, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (55, N'rotli', N'D', 100, CAST(N'2024-04-01T18:08:21.597' AS DateTime), 2058, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (56, N'rotli', N'D', 100, CAST(N'2024-04-01T18:08:48.853' AS DateTime), 1958, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (57, N'rotli', N'D', 100, CAST(N'2024-04-01T18:08:59.970' AS DateTime), 1858, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (58, N'rotli', N'D', 100, CAST(N'2024-04-01T18:09:53.427' AS DateTime), 1758, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (59, N'rotli', N'D', 100, CAST(N'2024-04-01T18:10:04.053' AS DateTime), 1658, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (60, N'rotli', N'D', 100, CAST(N'2024-04-01T18:10:09.303' AS DateTime), 1558, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (61, N'rotli', N'D', 20, CAST(N'2024-04-01T18:10:16.843' AS DateTime), 1538, 1)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (62, N'rotli', N'C', 10000, CAST(N'2024-04-01T18:29:50.483' AS DateTime), 10000, 32)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (63, N'rotli', N'D', 100, CAST(N'2024-04-01T18:29:54.867' AS DateTime), 9900, 32)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (64, N'rotli', N'C', 100, CAST(N'2024-04-01T18:30:02.063' AS DateTime), 10000, 32)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (65, N'rotli', N'D', 100, CAST(N'2024-04-01T18:30:06.893' AS DateTime), 9900, 32)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (66, N'shoping', N'D', 100, CAST(N'2024-04-01T18:30:11.907' AS DateTime), 9800, 32)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (67, N'rotli', N'D', 100, CAST(N'2024-04-01T18:30:18.023' AS DateTime), 9700, 32)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (68, N'rotli', N'D', 100, CAST(N'2024-04-01T18:30:22.590' AS DateTime), 9600, 32)
INSERT [dbo].[Expenses] ([ExpenseId], [Comment], [CreditOrDebit], [Amount], [ExpenseTime], [balance], [UserId]) VALUES (69, N'salery', N'C', 5000, CAST(N'2024-12-20T16:28:08.900' AS DateTime), 14600, 32)
SET IDENTITY_INSERT [dbo].[Expenses] OFF
GO

# [dbo].[Users]

In [0]:
SET IDENTITY_INSERT [dbo].[Users] ON 
INSERT [dbo].[Users] ([UsersId], [Name], [Email], [Mobile], [Address], [CreatedTime], [Password]) VALUES (1, N'dalsukh', N'naneradalsukh@gmail.com', N'7573942052', N'Bhanvad', CAST(N'2024-03-20T16:11:00.000' AS DateTime), N'Dal@2002')
INSERT [dbo].[Users] ([UsersId], [Name], [Email], [Mobile], [Address], [CreatedTime], [Password]) VALUES (2, N'darshan', N'darshan@gmail.com', N'7573942053', N'surat', CAST(N'2024-03-20T16:12:00.000' AS DateTime), N'Dar@2002')
INSERT [dbo].[Users] ([UsersId], [Name], [Email], [Mobile], [Address], [CreatedTime], [Password]) VALUES (8, N'rahul', N'rahul@gmail.com', N'9985858585', N'bhanvad', CAST(N'2024-03-21T15:58:00.000' AS DateTime), N'Rah@2002')
INSERT [dbo].[Users] ([UsersId], [Name], [Email], [Mobile], [Address], [CreatedTime], [Password]) VALUES (24, N'narotamsingh', N'narotam@gmail.com', N'2588522589', N'Bharuch', CAST(N'2024-03-28T10:37:30.843' AS DateTime), N'nar@2002')
INSERT [dbo].[Users] ([UsersId], [Name], [Email], [Mobile], [Address], [CreatedTime], [Password]) VALUES (29, N'ajay', N'ajay@gmail.com', N'1236547898', N'Dwarka', CAST(N'2024-03-29T10:59:45.243' AS DateTime), N'Aja@2002')
INSERT [dbo].[Users] ([UsersId], [Name], [Email], [Mobile], [Address], [CreatedTime], [Password]) VALUES (31, N'Robert', N'robert@gmail.com', N'4566544565', N'Jamnagar', CAST(N'2024-03-29T11:18:31.797' AS DateTime), N'Rob@2002')
INSERT [dbo].[Users] ([UsersId], [Name], [Email], [Mobile], [Address], [CreatedTime], [Password]) VALUES (32, N'virat kohli', N'virat@gmail.com', N'4566544565', N'Bhanvad', CAST(N'2024-03-29T11:23:05.460' AS DateTime), N'Vir@2002')
INSERT [dbo].[Users] ([UsersId], [Name], [Email], [Mobile], [Address], [CreatedTime], [Password]) VALUES (33, N'karena hemant', N'hemantkarena@gmail.com', N'2587413698', N'bhanvad', CAST(N'2024-03-29T18:15:18.060' AS DateTime), N'Hem@2002')
INSERT [dbo].[Users] ([UsersId], [Name], [Email], [Mobile], [Address], [CreatedTime], [Password]) VALUES (35, N'4564646 ', N'thhth@gmail.com', N'4544447777', N'fddtej ', CAST(N'2024-04-02T14:57:05.697' AS DateTime), N'VBDGHDGH')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO

# [UQ__Users__A9D10534FB1BC7B1]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534FB1BC7B1]    Script Date: 09-04-2024 16:38:07 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [FK__Expenses__UserId__3A81B327]

In [0]:
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UsersId])
GO

# [dbo].[SP_AddExpense]

In [0]:
/****** Object:  StoredProcedure [dbo].[SP_AddExpense]    Script Date: 09-04-2024 16:38:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_AddExpense] --'salery','C',5000,'virat@gmail.com','2024-12-20 16:28:08.900'
@Comment varchar(100),
@CreditOrDebit varchar(100),
@Amount bigint ,
@Email varchar(320)

as 
begin 

declare @CreditAmount bigint = 0 ;
declare @DebitAmount bigint = 0 ;
declare @Balance bigint;
declare @Id bigint ;

select @Id = UsersId from Users where Email = @Email ;

if @Id IS NULL 
begin
select 'You Are Not Registered' as Resultmessage
return 
end 


--here we can access the last row of that particular user and then access the balance
set @CreditAmount = ISNULL ((select SUM(Amount) from Expenses where UserId = @Id AND CreditOrDebit = 'C'),0) ;
set @DebitAmount = ISNULL ((select SUM(Amount) from Expenses where UserId = @Id AND CreditOrDebit = 'D') ,0 );

set @Balance = @CreditAmount - @DebitAmount ;

if(@CreditOrDebit = 'D' AND (@Balance - @Amount) < 0)
begin
select 'you have no sufficient balance ' as Resultmessage, @Balance as balance;
end 

else if @CreditOrDebit = 'D'
begin 
set @Balance = @Balance - @Amount ;
insert into Expenses values(@Comment,@CreditOrDebit,@Amount,GETDATE(),@Balance,@Id ) ;
select 'Added Successfully '  as Resultmessage, @Balance as balance;
end 

else
begin
set @Balance = @Balance + @Amount ;
insert into Expenses values(@Comment,@CreditOrDebit,@Amount,GETDATE(),@Balance,@Id ) ;
select 'Added Successfully' as Resultmessage, @Balance as balance;
end

end
GO

# [dbo].[SP_InsertUser]

In [0]:
/****** Object:  StoredProcedure [dbo].[SP_InsertUser]    Script Date: 09-04-2024 16:38:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc  [dbo].[SP_InsertUser] 
@Name varchar(100),
@Email varchar(320),
@Mobile varchar(10),
@Address varchar(100),
@Password varchar(100)
as
begin 
declare @Id bigint ;
select @Id = Users.UsersId from Users where Email = @Email ;

if @Id IS NOT NULL
begin 
select ' User Already Exist' as Resultmessage, 0 as ID
return
end 

insert into Users values(@Name,@Email,@Mobile,@Address,GETDATE(),@Password) ;
select 'Register Successfully' as Resultmessage,1 as ID
select * from Users where Email = @Email ;
end
GO

# [dbo].[SP_LoginUser]

In [0]:
/****** Object:  StoredProcedure [dbo].[SP_LoginUser]    Script Date: 09-04-2024 16:38:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_LoginUser] --'gghghh@gmail.com','Dal@2002'
@Email varchar(320),
@Password varchar(100)
as
begin

declare @Id bigint ;
select @Id = UsersId from Users where Email = @Email AND Password = @Password  ;

if @Id IS  NOT NULL
begin
select @Email as ResponseMessage, 1 as ID
return 
end 

select 'You Are not valid User' as ResponseMessage, 0 as ID


end
GO

# [dbo].[SP_ShowAllExpenses]

In [0]:
/****** Object:  StoredProcedure [dbo].[SP_ShowAllExpenses]    Script Date: 09-04-2024 16:38:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_ShowAllExpenses] --'naneradalsukh@gmail.com','Daywise','2024-03-22','2024-03-24',null
@Email varchar(320),
@Flag varchar(100),
@startdate varchar(50),
@enddate varchar(50),
@creditOrDebit varchar(10)
as
begin 

if @Email IS NULL
begin
select 'you are not registered' as ResponseMessage, 0 as ID
return
end

declare @USerId bigint ;
declare @cnt1 bigint ;
declare @cnt2 bigint ;
set @cnt1 = 0 ;
set @cnt2 = 0 ;
select @USerId = UsersId from Users  where Email = @Email 


if @USerId IS NULL
begin
select 'You are not valid user' as ResponseMessage, 0 as ID
return
end

select @cnt1 = count(ExpenseId) from Expenses where UserId = @USerId ;


if @cnt1 = 0 
begin
select 'You do not have any transaction yet' as ResponseMessage, 0 as ID
return
end

if @Flag = 'AllExpense'
begin
select * from Expenses where UserId = @USerId ;
select 'fetched successfully' as ResponseMessage, 1 as ID
end

if @Flag = 'Daywise'
begin
if @creditOrDebit IS NOT NULL
begin
select @cnt2 = count(ExpenseId) from Expenses where UserId = @USerId AND FORMAT(ExpenseTime, 'yyyy-MM-dd') between  @startdate AND @enddate and CreditOrDebit = @creditOrDebit;
end
else
begin
select @cnt2 = count(ExpenseId) from Expenses where UserId = @USerId AND FORMAT(ExpenseTime, 'yyyy-MM-dd')  between  @startdate AND @enddate ;
end
if @cnt2 = 0
begin
select 'You do not  any transaction in this range' as ResponseMessage, 0 as ID
return
end
if @creditOrDebit IS NOT NULL
begin
select * from Expenses where UserId = @USerId AND FORMAT(ExpenseTime, 'yyyy-MM-dd')   between  @startdate AND @enddate and CreditOrDebit = @creditOrDebit;
end
else
begin
select * from Expenses where UserId = @USerId AND FORMAT(ExpenseTime, 'yyyy-MM-dd')  between  @startdate AND @enddate ;
end
select 'fetched successfully' as ResponseMessage, 1 as ID
end
end
GO

# [dbo].[SP_ShowExpenseMonthWise]

In [0]:
/****** Object:  StoredProcedure [dbo].[SP_ShowExpenseMonthWise]    Script Date: 09-04-2024 16:38:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_ShowExpenseMonthWise] --'naneradalsukh@gmail.com'
@Email varchar(320)
as
begin 

declare @UserId bigint
declare @ExpenseId bigint 
select @UserId = UsersId from Users where Email = @Email ;

if @UserId IS NULL
begin
select 'you are not registered' as ResponseMessage, 0 as ID
return 
end 

select @ExpenseId = ExpenseId from Expenses where UserId = @UserId ;

if @ExpenseId IS NULL
begin 
select 'you do not have any transaction yet' as ResponseMessage,0 as ID
return
end 


--select ISNULL(Credit.month,Debit.month) as Month,ISNULL(Credit.CreditAmount,0) as CreditAmount,ISNULL(Debit.DebitAmount,0) as DebitAmount,(ISNULL(Credit.CreditAmount,0)-ISNULL(Debit.DebitAmount,0)) as Total from 
--(select MONTH(ex.ExpenseTime) as month,SUM(ex.Amount) as CreditAmount from (select * from Expenses where UserId = @UserId AND CreditOrDebit = 'C' ) as ex  group by MONTH(ex.ExpenseTime) ) as Credit 
--full outer join 
--(select MONTH(ex.ExpenseTime) as month, SUM(ex.Amount) as DebitAmount from (select * from Expenses where UserId = @UserId AND CreditOrDebit = 'D' ) as ex  group by MONTH(ex.ExpenseTime) ) as Debit 
--on Credit.month = Debit.month


Select  ISNULL(Debit.month,balance.month) as Month,ISNULL(Credit.CreditAmount,0) as CreditAmount,ISNULL(Debit.DebitAmount,0) as DebitAmount,(ISNULL(Credit.CreditAmount,0)-ISNULL(Debit.DebitAmount,0)) as Total ,(select balance from Expenses where ExpenseId = balance.Id) as Balance from 
(select MONTH(ex.ExpenseTime) as month,SUM(ex.Amount) as CreditAmount from (select * from Expenses where UserId = @UserId AND CreditOrDebit = 'C' ) as ex  group by MONTH(ex.ExpenseTime) ) as Credit 
full outer join 
(select MONTH(ex.ExpenseTime) as month, SUM(ex.Amount) as DebitAmount from (select * from Expenses where UserId = @UserId AND CreditOrDebit = 'D' ) as ex  group by MONTH(ex.ExpenseTime) ) as Debit 
on Credit.month = Debit.month
full outer join
(select MONTH(ok.ExpenseTime) as month,MAX(ok.ExpenseId) as Id  from (select * from Expenses where UserId = @UserId) as ok group by MONTH(ok.ExpenseTime) ) as balance
on ISNULL(Debit.month,Credit.month) =  balance.month 




declare @CreditAmount bigint;
declare @DebitAmount bigint;
declare @Balance bigint
set @CreditAmount = ISNULL ((select SUM(Amount) from Expenses where UserId = @UserId AND CreditOrDebit = 'C'),0) ;
set @DebitAmount = ISNULL ((select SUM(Amount) from Expenses where UserId = @UserId AND CreditOrDebit = 'D') ,0 );

set @Balance = @CreditAmount - @DebitAmount ;
select @Balance as ResponseMessage, 1 as ID  ;

END
GO

# [ExpenseManager]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [ExpenseManager] SET  READ_WRITE 
GO